$text-color: #28282b;

html,
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    box-shadow: 0 4px 5px -3px gray;
    color: $text-color;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;


    h1 {
        font-size: 30px;
    }

    #nav-links {
        list-style: none;
        width: 150px;
        display: flex;
        justify-content: space-between;
        font-size: 18px;


        a {
            text-decoration: none;
            color: rgb(190, 189, 189);
        }

        #current-page {
            color: $text-color;
        }
    }
}

#table-container {
    display: flex;
    justify-content: center;

    table {
        box-shadow: 0 4px 5px -3px gray;
        width: 500px;
        text-align: center;
        border-collapse: collapse;
       
        thead {
            background-color: $text-color;
            color: whitesmoke;
            th{
                padding: 5px;
            }
        }

        th,
        td {

            height: 20px;
            border: 1px solid lightgray;
            font-size: 18px;
        }
        td{
            padding: 5px;
        }

        tbody {
            tr {

                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}

.required-field {
    color: rgb(248, 69, 69);
    font-size: 12px;
}

.hidden {
    display: none;
}
