@use '../styles/global' as*;

.hidden {
    display: none;
}

h2 {
    text-align: center;
}
#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deleteBtn {
    background-color: $text-color;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
#deleteBtn:hover {
    background-color: #47474d;
}

