@use '../styles/global' as*;

h2 {
    text-align: center;
    margin-top: 100px;
}
#add-group-btn {
    display: block;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 500px;
    width: 100px;
    
    background-color: $text-color;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    padding: 7px;
    &:hover {
        background-color: #47474d;
    }
}